<div class= "container">
    <!--<div class= "col-md-4">
        <img src= "app/assets/images/profile.jpg" alt= "Image of project" class= "img-responsive img-thumbnail pull-left" />
    </div>-->
    <div class= "col-md-8 well">
        <p>Rachel Frock is a Software Consultant with Sogeti USA, located in Austin, Texas. 
            She graduated from The University of Texas at Austin with a Bachelor of Science and Arts in Computer 
            Science with a Music Minor from the Butler School of Music. In addition to her degree, she completed a Digital 
            Arts and Media Certificate through the Bridging Disciplines Program. Throughout college she was involved in the 
            Longhorn Band playing tuba, several music ensembles playing bassoon, the club gymnastics team and started a Makers
            club within the Department of Computer Science. <br />
            During her internship with Keynote, the Spring and Summer of 2015, she gained some insight into full stack web development.
            This sparked her interest and led her to accept a role as a Music Marketing assistant for Bruce Pennycook, a composer
            and professor in the Butler School of Music, which allowed her to rebuild his old website from scratch. This project
            was independent and left her with a lot of lessons learned.<br /> 
            Apart from her professional life, Rachel learned a lot through her studies as well. As part of the Bridging Disciplines Program, 
            she was able to explore the production of art and music through technical means. She participated two years in a row in Ears, 
            Eyes and Feet, a collaborative music, art an dance performance, put on by the Theatre and Dance Department. Through this production, 
            she worked with two different groups and a wide variety of software programs, some including computer programming or interactive 
            bluetooth devices. During her final semester at UT, she worked in a partnership to build an iOS app, designed prototypes for 
            a proposed app idea and created a dual communication interface to hardware product using an Arduino.<br />
            Rachel enjoys creating, innovating and being involved in everything she does. Programming and technology has opened up the doors for 
            her to explore, create and experiement. She is positive in any situation that is thrown her way and loves any new opportunity to
            learn or create. 
        </p>
    </div>
</div>    