<div class= "col-md-4">
    <img src= "app/assets/images/profile.jpg" alt= "Headshot" class= "img-responsive img-thumbnail pull-right" />
</div>    
<div class= "col-md-8">
    <div class="jumbotron">
        <div class= "container">
            <h1>C:&#92;Users&#92;RachelFrock&#62;</h1>
            <p>Software Consultant at Sogeti USA <br/>
            BSA Computer Science, Music Minor, Digital Arts and Media Certificate <br/>
            The University of Texas at Austin, Class of 2016</p>          
        </div> 
    </div>
</div>  
        